*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.ace-tool/
.kotlin/
/.tmp/
/APP_RELEASE_UPGRADE_CHECKLIST.md
/app-release.apk
/jadx-1.5.5/
